PAYMENT_HTTP_ADDR=:8080
PAYMENT_GRPC_ADDR=:9090
PAYMENT_LOG_LEVEL=info
PAYMENT_MYSQL_DSN=root:root@tcp(127.0.0.1:3310)/payment?charset=utf8mb4&parseTime=True&loc=Local
PAYMENT_NATS_URL=nats://127.0.0.1:4222
PAYMENT_NATS_STREAM=SECKILL
PAYMENT_ORDER_CREATED_SUBJECT=order.created
PAYMENT_ORDER_CREATED_CONSUMER=payment-mock
PAYMENT_PAYMENT_PAID_SUBJECT=payment.paid
PAYMENT_PAYMENT_FAILED_SUBJECT=payment.failed
